@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html, body{ 
	width:100%; 
	min-height: 100vh;
}

body {
	align-items: center;
	background-image: url('/images/background.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	color: #212125;
	display: flex;
	font-size: 17px;
	justify-content: center;
}

a {
	color: #20BB6D;
	text-decoration: none;
}

a:hover {
	color: #22D87D; 
}