@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html, body{ 
	height: 100%;
	overflow: hidden; 
	width:100%; 
}

body {
	background-image: url('/images/background.jpg'); 
	background-size: cover;
	color: #212125;
	font-size: 17px;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

a {
	color: #20BB6D;
}

a:hover {
	color: #22D87D; 
}