.cadastro-container {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 60%;
  height: 90%;  
  justify-content: center;
  border-radius: 30px;
  font-size: 1em;
  padding: 30px;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  align-items: center;
  text-align: center;
  width: 100%;
}

.cadastro-form-inputs {
  border: none;
  border-bottom: 0.5px solid white;
  width: 80%;
  height: 7%;
  padding-left: 10px;
  font-size: 1em;
  background: rgba(0, 0, 0, 0);
  color: white;
  }

.cadastro-label { 
  margin-top: 50px;   
  color: 'white';
}

.iconStyle {
  color: 'white'
}