.cadastro-container {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    width: 60%;
    height: 90%;
    color: white;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    overflow-y: auto;
    padding-bottom: 35px;
}

.label {
    margin-top: 35px;
    font-size: 14px;
}

input[type=text] {
    display:inline-block;
    background: transparent;
    border: none;
    border-bottom: 0.1px solid white;
    width: 250px;
    font-size: 14px;
    box-sizing: border-box;
    color: aliceblue;
  }

  [type=password] {
    display:inline-block;
    background: transparent;
    border: none;
    border-bottom: 0.1px solid white;
    width: 250px;
    font-size: 14px;
    box-sizing: border-box;
    color: aliceblue;
  }
  input[type=submit] {
    margin-top: 35px;
    font-size: 14px;
    padding: 10px;
    border-color: rgba(17, 17, 17);
    border: 8px;
    background-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: rgba(0, 0, 0);     
}

  input[type=submit]:hover {
    color: rgba(36, 31, 31); 
}
