.home-container {
    height: 100vh;
}

.home-left {
    background: url('./../images/home-pic.png');
    width:50%;
    float:left;
    height: 100vh
}

.home-right {
    background:url('./../images/home-form-pic.png');
    float: right;
    width: 50%;
    height: 100vh;
}

.home-navbar {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin: 0;
    height: 7vh;
    align-items: center;
}

.home-navbar a {
    color: white;
    text-decoration: none;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93%;
}