#notification-component {
  color: white;
  z-index: 100;
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 15px;
  border-radius: 15px;
  transition-duration: 0.7s;
  display: none;
}

#notification-text {
  text-decoration: none;
  margin-left: 5px;
}